.auth {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.auth__inner {    
    width: 640px;

    display: inline-block;

    background: var(--black-50);

    border-radius: 10px;

    overflow: hidden;
}

.auth__menu {    
    width: 100%;

    display: flex;
}

.auth__item {
    width: 50%;
}

.auth__input {
    display: none;
}


.auth__label {
    width: 100%;    

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--black-33);

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    color: var(--white);

    cursor: pointer;

    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, background-color 500ms;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, background-color 500ms;

    padding: 32px 0;
}

.auth__label:hover {
    background: var(--orange);

    box-shadow: 0 0 40px 40px var(--orange) inset;
}

.auth__input:checked + .auth__label {
    background: var(--orange);

    box-shadow: 0 0 40px 40px var(--orange) inset;
}



.auth__form {
    padding: 32px;
}

.form__area {
    width: 100%;

    display: flex;

    margin-bottom: 24px;
}

.form__area:last-child {
    margin-bottom: 0;
}

.area__symbol {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--black-1f);

    border-radius: 16px 0px 0px 16px;

    padding: 12px 40px;
}

.area__input {
    flex-grow: 1;

    background: var(--gray-CD);

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: var(--gray-96);

    border: none;
    border-radius: 0px 16px 16px 0px;

    outline: none;

    padding-left: 24px;
}


.area__btn {
    border: none;
    border-radius: 20px;

    cursor: pointer;

    outline: none;

    padding: 0 12px;
    margin-left: 16px;
}

.form__action-block {
    display: flex;
    justify-content: space-between;

    gap: 32px;
}

.form__anchor, .form__btn {
    flex-grow: 1;

    border-radius: 10px;

    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    
    padding: 12px 0;
}

.form__anchor {
    display: block;

    border-color: var(--black-1f);

    text-align: center;

    color: var(--black-1f);
}

.form__anchor:hover {
    background: var(--black-1f);

    box-shadow: 0 0 40px 40px var(--black-1f) inset;

    color: var(--white);
}

.form__btn {
    border-color: var(--orange);

    color: var(--orange)
}

.form__btn:hover {
    background: var(--orange);
    
    box-shadow: 0 0 40px 40px var(--orange) inset;

    color: var(--white)
}