/** Hero */

.hero {
    width: 100vw;
    height: 100vh;

    background: #000;
    background-image: url(../../assets/pictures/hero-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    width: inherit;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__intro {

}

.hero__title {
    font-family: 'Cuatra';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 174px;


    color: var(--white);
    
    margin-bottom: 32px;
}

.hero__slogan {
    font-style: normal;
    font-weight: 700;    
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;

    margin-bottom: 64px;
}

.hero__btn {
    display: inline-block;

    border-radius: 10px;
    border-color: var(--orange);
    
    font-style: normal;
    font-weight: 900; 
    font-size: 24px;
    line-height: 29px;

    color: var(--orange);

    padding: 24px 56px;
}

.hero__btn:hover {
    box-shadow: 0 0 40px 40px var(--orange) inset;
    background-color: var(--orange);

    color: var(--white);
}

/* About */

.about {
    width: 100vw;
    height: 100vh;

    background: var(--black-1f);
}

.about__container {
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__info {

}

.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;

    color: var(--white);

    margin-bottom: 56px;
}   

.about__list {

}

.about__item {
    display: flex;
    align-items: center;

    list-style-type: none;

    margin-bottom: 24px;
}

.about__item:last-child {
    margin-bottom: 0;
}

.about__img {

}

.about__span {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: var(--white);

    margin-left: 24px;
}

.about__text {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    text-align: right;

    color: var(--white);

}

.about__text span {
    font-size: 144px;
    line-height: 176px;
}

/* Catalog */


.catalog-preview {
    height: 100vh;
    width: 100vw;

    background: var(--black-33);
}

.catalog-preview__container {
    height: inherit;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.catalog-preview__title {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;

    color: var(--white);

    margin-bottom: 32px;
}

.catalog-preview__list {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 24px;

    margin-bottom: 16px;
}

.catalog-preview__btn {
    width: 100%;

    display: inline-block;

    padding: 12px 0;

    outline: none;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    background: var(--black-50);

    transition: .3s;

    color: var(--white);
}

.catalog-preview__btn:hover {
    transform: translateY(-3px);

    box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.25);
}

.footer {
    background: var(--black-1f);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 64px 0;
}

.footer__caption {
    display: flex;
}

.footer__caption:hover .footer__name {
    color: var(--orange);
    transform: translateY(8px);
}   

.footer__img {

}

.footer__name {
    font-family: 'Cuatra', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;

    color: var(--white);

    transition: .3s;

    margin-left: 24px;
}

.footer__copyright {
    font-style: normal;
    font-weight: 400;   
    font-size: 24px;
    line-height: 29px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: var(--gray-96)
}