@font-face {
  font-family: 'Cuatra';
  font-weight: 700;
  
  src: url("./assets/fonts/Cuatra-Bold.woff"), url("./assets/fonts/Cuatra-Bold.woff2");
}

:root {
  --orange: #FF5C00;

  --red: #E32636;

  --white: #FFF;

  --gray-96: #969696;
  --gray-CD: #CDCDCD;

  --black-00: #000;
  --black-1f: #1F1F1F;
  --black-2f: #2F2F2F;
  --black-33: #333;
  --black-50: #505050;
}

* {
  box-sizing: border-box;

  outline: none;

  scroll-behavior: smooth;

  font-family: 'Montserrat', sans-serif;
  font-variant-numeric: lining-nums;

  margin: 0;
  padding: 0;
}

body, 
html {
  width: 100%;
  height: 100%;

  background: var(--black-00);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}
::-o-scrollbar {
  width: 0;
}
::-moz-scrollbar {
  width: 0;
}
::-ms-scrollbar {
  width: 0;
}

.container {
  max-width: 1170px;

  margin: 0 auto;
}

.btn--action {
  background: transparent;

  outline: none;

  cursor: pointer;

  border-style: solid;
  border-width: 3px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, background-color 500ms;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, background-color 500ms;
}

.header {
  width: 100%;
  height: 96px;
  
  position: fixed;

  background: rgb(0, 0, 0, 0.1);

  backdrop-filter: blur(40px);
}

.header__container {
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  transition: .3s;
}

.nav__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: var(--white);

  margin-left: 16px;
}

.nav__anchor {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: var(--white);

  transition: .3s;

  margin-left: 32px;
}

.nav__anchor:hover {
  color: var(--orange);

  transform: translateY(3px)
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__link {
  transition: .3s;
}

.header__link:hover, .nav__logo:hover {
  transform: translateY(-3px);
}
/* only-of-type */
.header__link:not(:only-child):last-child {
  margin-left: 32px;
}



/* CatalogItem */

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--white);

  border-radius: 5px;

  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);

  padding: 32px;
}

.catalog__img {
  margin-bottom: 16px;
}

.catalog__price { 
  width: 100%;

  display: flex;

  margin-bottom: 8px;
}

.price__new {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--black-00);
}

.price__old {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-decoration-line: line-through;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--gray-96);

  margin-left: 8px;
}

.catalog__name {
  width: 100%;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--black-00);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 24px;
}

.catalog__count-action {
  width: 100%;

  display: flex;
  justify-content: space-between;

  border: 3px solid var(--orange);
  border-radius: 10px 10px 5px 5px;

  padding: 12px 16px;
  margin-bottom: 4px;
}

.amount-count__btn {
  background: transparent;

  border: none;
  outline: none;

  cursor: pointer;

  transition: .3s;
}

.amount-count__btn:hover {
  transform: translateY(-3px);
}

.amount-count__p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--orange);
}

.catalog__btn {
  width: 100%;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  border-radius: 5px 5px 10px 10px;
  border-color: var(--orange);

  color: var(--orange);

  padding: 12px 0;
}

.catalog__btn:hover {
  background: var(--orange);

  box-shadow: 0 0 40px 40px var(--orange) inset;

  color: var(--white)
}

.modal {
  width: 100vw;
  height: 100vh;

  position: absolute; 
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);

  transition: .3s;

  opacity: 0;

  pointer-events: none;
}

.modal--active {  
  opacity: 1;

  pointer-events: all;
}

.modal__content {
  background: var(--black-1f);

  border-radius: 15px;

  overflow: hidden;

  transition: .3s;

  transform: scale(0);
}

.modal__content--active {
  transform: scale(1);
}

.modal__header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--orange);

  padding: 16px 24px;
}

.modal__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: var(--white);
}

.modal__btn {
  background: transparent;

  border: none;
  outline: none;

  cursor: pointer;

  padding: 8px;
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;
} 

.modal__p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: var(--white);

  margin-bottom: 24px;
}